<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='iOS Swift Tutorials | Create Project')"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div th:replace="fragments/aside :: aside"></div>
    <div id="content">
        <h1 class="content-title">Creating the Xcode Project</h1>
        <section class="content-section">
            <h2>Getting Started</h2>
            <ul class="tutorial-steps">
                <li>Start by creating a new Xcode project either by clicking on
                    <span class="step-action">Create a new Xcode project</span> or
                    by going to <span class="step-action">File -> New -> Project</span>.
                </li>
                <li>Start by creating a new Xcode project either by clicking on
                    <span class="step-action">Create a new Xcode project</span> or
                    by going to <span class="step-action">File -> New -> Project</span>.
                </li>
                <li>Start by creating a new Xcode project either by clicking on
                    <span class="step-action">Create a new Xcode project</span> or
                    by going to <span class="step-action">File -> New -> Project</span>.
                </li>
                <li>Start by creating a new Xcode project either by clicking on
                    <span class="step-action">Create a new Xcode project</span> or
                    by going to <span class="step-action">File -> New -> Project</span>.
                </li>
            </ul>
        </section>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>