<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:fragment="aside" class="container">
    <ul>
        <li>
            <a class="aside-title" th:href="@{/}">HTTP Request Methods</a>
            <ul class="aside-menu-list">
                <li>
                    <a th:href="@{/get}">GET Method</a>
                    <ul class="aside-steps">
                        <li><a th:href="@{/get/create-project}">Create Xcode project</a></li>
                        <li><a th:href="@{/get}">Create models</a></li>
                        <li><a th:href="@{/get}">Create views</a></li>
                        <li><a th:href="@{/get}">Connect to external API</a></li>
                    </ul>
                </li>
            </ul>
            <a class="aside-title" th:href="@{/learn-more}">Learn More</a>
            <ul class="aside-menu-list">
                <li><a th:href="@{apple-documentation}">Apple Documentation</a></li>
                <li><a th:href="@{swift-programming-language}">Swift Programming Language</a></li>
                <li><a th:href="@{/alamofire}">Getting Started with Alamofire 5</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>