* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001128;
    font-family: sans-serif;
    color: aliceblue;
}

/* Utility */
.container {
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 1.25rem;
    margin: 0;
}

/* Main */
main {
    display: flex;
}

aside {
    width: 20%;
    text-align: center;
}

#tutorial-title {
    font-size: 1rem;
    font-weight: bold;
}

#tutorial-steps {
    font-size: 0.50rem;
}

#content {
    background: aliceblue;
    color: black;
}

/* Footer */
footer {
    text-align: center;
}


/* Hyperlinks */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: aliceblue;
}

a:hover {
    color: lightgray;
}
