<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='iOS Swift Tutorials | HTTP Request Methods')"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div th:replace="fragments/aside :: aside"></div>
    <div id="content">
        <h1 class="content-title">HTTP Request Methods with Alamofire 5</h1>
        <section class="content-section">
            <h2>What is Hypertext Transfer Protocol (HTTP)?</h2>
            <p>According to the Mozilla Web Docs, HTTP is an application communication protocol that
                follows the client-server model that is used to fetch resources of a network. The HTTP
                protocol has a set of request methods that specify an action to do on a resource. Some methods
                include GET, POST, PUT, and DELETE.
            </p>
            <a th:href="@{/http-mozilla}">Source: https://developer.mozilla.org/en-US/docs/Web/HTTP</a>
        </section>

        <section class="content-section">
            <h2>What is Alamofire?</h2>
            <p>Alamofire is a Swift networking library that is based on Apple's Swift Foundation Framework
                (application base layer framework). Alamofire simplifies common network tasks and makes working with the HTTP communication protocol easier.</p>
            <a th:href="@{/alamofire}">Source: https://www.kodeco.com/6587213-alamofire-5-tutorial-for-ios-getting-started</a>
        </section>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>