<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='iOS Swift Tutorials | Learn More')"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div th:replace="fragments/aside :: aside"></div>
    <div id="content">
        <h1 class="content-title">HTTP GET Method</h1>
        <section class="content-section">
            <h2>Swift Programming</h2>
            <ul>
                <li><a th:href="@{/apple-documentation}">Apple Swift Tutorials</a></li>
                <li><a th:href="@{/swift-programming-language}">Official Swift Documentation</a></li>
            </ul>
        </section>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>