<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='iOS Swift Tutorials | HTTP Request Methods - POST')"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div th:replace="fragments/aside :: aside"></div>
        <div id="content">
            <h1>POST</h1>
            <p>This is the POST page</p>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>